@import "tailwindcss";


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .05em;
}


.bgHero{
    background-image: url('./assets/images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bgHero2{
    background-image: url('./assets/images/building.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  animation: marquee 25s linear infinite;
  white-space: nowrap;
}

.marquee:hover {
  animation-play-state: paused;
}

